/* Work sans font fron google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */

.primary_btn {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.primary_title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.primary_description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner related styles */

.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams related style */

.teams_container {
    display: flex;
    align-items: center;
}

.teams_images_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.50rem;
}

.teams_content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams_title {
    font-size: 3rem;
}

.quick_list {
    color: #727272;
    font-weight: 500;
}

.of_our {
    color: #131313;
    font-weight: 700;
}

.text_features {
    color: #FF900E;
    font-weight: 700;
}

/* Features related styles */

.features_container {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

#features_title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features_content .features_card {
    border-radius: 8px;
    padding: 30px;
    background: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features_image img {
    height: 80%;
    margin-left: 70px;
}

.ten_years_badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFFFFF;
    width: 342px;
    height: 200px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 120px;
    right: 30px;
}

.ten_years_badge h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 20px 0 0 0;
}

.ten_years_badge p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Facts related styles */

.facts_card_container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}

.card_srats {
    color: #424242;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.card_title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2px;
}

/* Sponsors related styles */

.sponsor_container {
    text-align: center;
}

.sponsors_images_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 40px;
    align-items: center;
}

.sponsors_images_container img {
    width: 165px;
}

/* Footer related styles */

footer {
    max-width: 1440px;
    margin: 70px auto;
}

.footer_container {
    height: 100px;
    background-color: #FFF4E7;
    text-align: center;
    border-radius: 8px;
}

.footer_container p {
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 25px;
}

/* Responsive media queries */

/* Mobile devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams_container,
    .facts_card_container,
    .sponsors_images_container,
    .features_container {
        flex-direction: column;
    }

    .teams_images_container {
        grid-template-columns: 1fr;
    }

    .teams_content,
    .facts_card_container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .features_image img {
        width: 90%;
        margin-left: 0;
    }

    .ten_years_badge {
        position: static;
        max-width: 250px;
    }

    .facts_card_container {
        gap: 20px;
    }

}

/* Tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {

    header {
        padding: 50px;
    }

    nav,
    .teams_container,
    .sponsors_images_container,
    .features_container {
        flex-direction: column;
    }

    .teams_content {
        padding-left: 30px;
        padding-right: 30px;
    }

}