/* Work sans font fron google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */

.btn_primary {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.primary_description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner related styles */

.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams related style */

.teams_container {
    display: flex;
    align-items: center;
}

.teams_images_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.50rem;
}

.teams_content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams_title {
    font-size: 3rem;
}

.quick_list {
    color: #727272;
    font-weight: 500;
}

.of_our{
    color: #131313;
    font-weight: 700;
}

.text_features{
    color: #FF900E;
    font-weight: 700;
}

/* Responsive media queries */

/* Mobile devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav, .teams_container {
        flex-direction: column;
    }

    .teams_images_container{
        grid-template-columns: 1fr;
    }

    .teams_content {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {

    header {
        padding: 50px;
    }

    nav, .teams_container {
        flex-direction: column;
    }

    .teams_content {
        padding-left: 30px;
        padding-right: 30px;
    }

}